.body {
  padding-top: 2rem;
}

.body__toolbox {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.body__options-container {
  padding: 2rem 0 4rem;
}

@media screen and (max-width: 450px) {
  .body__toolbox {
    display: block;
    padding-bottom: 1rem;
  }

  .body__options-container {
    padding: 1rem 0 2rem;
  }

  .body__stats {
    margin-bottom: 1rem;
  }

  .body__search {
    width: 100%;
  }
}

.body__stats > * {
  margin-right: 2rem;
}

.body__search-container {
  position: relative;
}

.body__search {
  background-color: rgba(0, 0, 0, 0.06);
  border: 0.1rem solid rgba(255, 255, 255, 0.08);
  color: var(--text-color);
  padding: 0.5rem 1rem;
  padding-left: 2.7rem;
}

.body__search-icon {
  position: absolute;
  left: 0.7rem;
  top: 50%;
  transform: translateY(-50%);
  width: 1.4rem;
  height: 1.4rem;
  fill: rgba(255, 255, 255, 0.1);
}

.body__search:focus + .body__search-icon {
  fill: var(--primary-color);
}
