.body {
  padding-top: 2rem;
}

.body .accent {
  color: var(--primary-color);
}

.body__toolbox {
  padding-bottom: 4rem;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.body__stats > * {
  margin-right: 2rem;
}

.body__search {
  background-color: rgba(0, 0, 0, 0.06);
  border: 0.1rem solid rgba(255, 255, 255, 0.08);
  color: var(--text-color);
  padding: 0.5rem 1rem;
}

.body__list {
  width: 100%;
  background-color: #3a3a3a;
  padding: 4rem 3rem 3rem;
  box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.1);
  border: 0.1rem solid rgba(255, 255, 255, 0.05);
  border-bottom: none;
}

.body__list td {
  text-align: center;
  min-width: 6rem;
}

.body__list td:first-child {
  text-align: left;
}

.body__list-column-head {
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: 700;
}

.body__server > * {
  border-bottom: 0.1rem solid rgba(255, 255, 255, 0.035);
  padding: 1.75rem 0;
  font-size: 1.4rem;
}

.body__server:last-child > * {
  border-bottom: none;
}

.body__server-ip a {
  text-transform: uppercase;
  font-size: 1.2rem;
  font-weight: 700;
  cursor: pointer;
  color: rgba(255, 255, 255, 0.2);
  text-decoration: none;
}

.body__server-ip a:hover {
  color: var(--primary-color);
}

.body__server-ip a.disabled {
  cursor: not-allowed;
}

.body__server-ip a.disabled:hover {
  color: rgba(255, 255, 255, 0.2);
}
