@import url("https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap");

html {
  font-size: 10px;
}

body {
  min-width: 32rem;
  overflow-x: hidden;
  font-family: "Roboto", sans-serif;
  font-size: 1.6rem;
}
