@import url("https://fonts.googleapis.com/css?family=Roboto:400,600,700&display=swap");

:root {
  --text-color: #eee;
  --background-color: #333333;
  --primary-color: #e97415;
}

html {
  font-size: 10px;
}

body {
  min-width: 32rem;
  overflow-x: hidden;
  font-family: "Roboto", sans-serif;
  font-size: 1.6rem;
  min-height: 100vh;
  color: var(--text-color);
  background-color: var(--background-color);
}

.container {
  max-width: 96rem;
  margin: 0 auto;
}

.bold {
  font-weight: 700;
}
