@font-face {
  font-family: "Roboto";
  font-display: auto;
  src: url("~@/assets/Roboto-Regular.ttf") format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: "Roboto";
  font-display: auto;
  src: url("~@/assets/Roboto-Bold.ttf") format("truetype");
  font-weight: 700;
}

:root {
  --text-color: #eee;
  --background-color: #333333;
  --primary-color: #e97415;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  position: relative;
  min-width: 32rem;
  overflow-x: hidden;
  font-family: "Roboto", sans-serif;
  font-size: 1.6rem;
  min-height: 100vh;
  color: var(--text-color);
  background-color: var(--background-color);
}

.container {
  max-width: 96rem;
  margin: 0 auto;
  position: relative;
}

@media screen and (max-width: 960px) {
  .container {
    padding: 0 1rem;
  }
}

.text-bold {
  font-weight: 700;
}

.text-accent {
  color: var(--primary-color);
}
